h1 Cowin Notification

form
  ul.items
  
  fieldset.age.enable
    div.icon.left: i.user
    input(type="number", name="age", placeholder="Age")
    div.icon.right.button: i.arrow

  fieldset.pincode
    div.icon.left: i.letter
    input(type="text", name="pincode", placeholder="Pincode")
    div.icon.right.button: i.arrow

  fieldset.chatid
    div.icon.left: i.lock
    input(type="number", name="chatid", placeholder="ChatID")
    div.icon.right.button: i.arrow

  fieldset.thanks
    div.icon.left: i.heart
    p Thanks for your time
    div.icon.right: i.heart
        